<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="binpacking.ProgramSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <binpacking.ProgramSettings>
            <setting name="PopulationSize" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="CrossoverRate" serializeAs="String">
                <value>0.7</value>
            </setting>
            <setting name="MutationsRate" serializeAs="String">
                <value>0.7</value>
            </setting>
            <setting name="NumberOfGenerations" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="PercentOfUpdate" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="ColorOrNot" serializeAs="String">
                <value>true</value>
            </setting>
            <setting name="DrawEachNumGeneration" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="HeightModuleFirst" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="ShortModuleFirst" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="LargeModuleFirst" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="SmallModuleFirst" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="WideModuleFirst" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="ShowAllRectangleWhileDrawing" serializeAs="String">
                <value>true</value>
            </setting>
            <setting name="HideModuleNames" serializeAs="String">
                <value>false</value>
            </setting>
        </binpacking.ProgramSettings>
    </userSettings>
</configuration>